@media (max-width: 1000px) and (min-width: 371px)
    .home .hero img
        width: 100%
        margin: 2rem auto 1.2rem
@media (max-width: 419px)
    .home .hero img
        max-height: initial !important
@media (max-width: 370px)
    .home .hero img
        display: none
   
