<template>
    <div class="craftingtable">
        <div id="grid">
            <div class='gridcell' v-for="item in items" :key="item">
                <router-link v-if="itemMap(item,'router')" :to="itemMap(item,'url')">
                  <img :src="itemMap(item,'image')" :class="itemMap(item,'class')">
                </router-link>
                <a v-else-if="itemMap(item,'a')" :href="itemMap(item,'url')" target="_blank">
                  <img :src="itemMap(item,'image')" :class="itemMap(item,'class')">
                </a>
                <img v-else-if="item" :src="itemMap(item,'image')" :class="itemMap(item,'class')">
            </div>
        </div>
        <div class="arrow">&#10132;</div>
        <div class="resultcell">
            <img v-if="itemMap(result,'image')" :src="itemMap(result,'image')">
        </div>
    </div>
</template>

<style scoped>
.craftingtable {
  background-color: #C6C6C6;
  padding: 16px;
  height: 132px;
  width: 300px;
  border-radius: 5px;
}

#grid {
  float: left;
  margin-bottom:16px;
}

.gridcell {
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #FFFFFF;
    border-bottom: double #FFFFFF;
    width: 36px;
    height: 36px;
    float: left;
}

#grid .gridcell:nth-child(3n+1){
  clear:left;
}

.gridcell img {
  padding: 2px;
  height: 32px;
  width: 32px;
}

.arrow {
    float: left;
    padding: 20px;
    vertical-align:top;
    font-size: 64px;
    color: #888;
}

.resultcell {
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 64px;
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #FFFFFF;
    border-bottom: double #FFFFFF;
    padding: 6px;
    height: 38px;
    width: 38px;
}

/*
.allcolors:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: mccolors 16s steps(16,start) infinite;
}

@keyframes mccolors {
  0%   { background-color: rgba(170,0,0,0.7); }
  7%   { background-color: rgba(255,85,85,0.7); }
  13%  { background-color: rgba(255,170,0,0.7); }
  20%  { background-color: rgba(255,255,85,0.7); }
  27%  { background-color: rgba(0,170,0,0.7); }
  33%  { background-color: rgba(85,255,85,0.7); }
  40%  { background-color: rgba(85,255,255,0.7); }
  47%  { background-color: rgba(0,170,170,0.7); }
  53%  { background-color: rgba(0,0,170,0.7); }
  60%  { background-color: rgba(85,85,255,0.7); }
  67%  { background-color: rgba(255,85,255,0.7); }
  73%  { background-color: rgba(170,0,170,0.7); }
  80%  { background-color: rgba(255,255,255,0.0); }
  87%  { background-color: rgba(170,170,170,0.7); }
  93%  { background-color: rgba(85,85,85,0.7); }
  100% { background-color: rgba(0,0,0,0.7); }
}

/* Will need to do something for wood as well. Maybe have birch as the base image. */
</style>

<script>
import itemsMap from '../icons.json'
import { isArray } from 'util';
export default {
    props: {
        items: {
            type: Array,
            required: true,
            validator: function(value){
              return value.length == 9;
            }
        },
        result: {
            type: String,
            required: true
        }
    },
    methods: {
      itemMap: function(item,pos){
        if(item == null || item == undefined || item == "none") return false;
        if(!(item in itemsMap)) return false;
        if(pos == 'image'){
          return '/img/icons/' + itemsMap[item]['image'];
        } 
        if (pos == 'router'){
          if (itemsMap[item]['url'] == undefined) return false;
          return !itemsMap[item]['url'].startsWith('http');
        }
        if(pos == 'a') return itemsMap[item]['url'] != undefined;

        if(pos == 'class'){
          if(!itemsMap[item]['classes']) return [];
          if(isString(itemsMap[item]['classes'])) return [itemsMap[item]['classes']];
          if(isArray(itemsMap[item]['classes'])) return [itemsMap[item]['classes']];
          return [];
        }

        return itemsMap[item][pos];
      }
    }
}
// Help derived from https://www.101computing.net/minecraft-crafting-table/
</script>
