<template>
    <div class="modelviewer" v-if="!isMobile">
        <ClientOnly>
            <transition name="fade">
                <vgl-renderer class="render" name="render" ref="render" scene="myScene" camera="perspCamera" shadow-map-enabled alpha antialias v-show="!loading">
                    <vgl-perspective-camera orbit-position="10 1.2 0" name="perspCamera"></vgl-perspective-camera>
                    <vgl-scene name="myScene" ref="scene" background-texture="skybox">
                        <vgl-texture src="/IRWiki/models/track/default/gravel.png" name="gravel" wrap-s="repeat" wrap-t="repeat" repeat="50 50"/>
                        <vgl-plane-geometry name="ground" width="50" height="50"/>
                        <vgl-mesh-standard-material name="grass" map="gravel"/> 
                        <vgl-mesh geometry="ground" material="grass" rotation="-1.5705 0 0 XYZ" position="0 -0.01 0" receive-shadow />
                        <vgl-group name="track" v-for="x in 30" v-if="supertype == 'rolling_stock'" :hidden="trackHidden" :scale="trackScale" receive-shadow>
                            <vgl-track-loader :position="(x-15) +' 0 0'"/>
                        </vgl-group>
                        <vgl-obj-loader name="myModel" :base-url="base" :model-name="modelName" position="0 0.36 0" @loaded="loading = false" :visible="vglFilter" cast-shadow receive-shadow/>
                        <vgl-ambient-light name="ambientLighting" color="#ffeecc" intensity="0.5" />
                        <!--vgl-hemisphere-light /-->
                        <vgl-directional-light name="directionalLighting" position="10 20 5" cast-shadow />
                        <vgl-orbit-controls camera="perspCamera"/>
                        <vgl-skybox name="skybox" />
                    </vgl-scene>
                </vgl-renderer>
            </transition>
        </ClientOnly>
        <div v-if="loading" class="loading"><img src="/IRWiki/img/trainloader.gif" key="loading"></div>
        <div class="filterwrapper">
            <div>All <toggle-button @change="toggleVisible" tag="all" :sync="true" :value="filter.length == 0"/></div>
            <div v-if="supertype == 'rolling_stock'">Frame <toggle-button @change="toggleVisible" tag="frame" :sync="true" :value="filter.includes('frame')"/></div>
            <div v-if="type == 'steam' || type == 'diesel'">Cab <toggle-button @change="toggleVisible" tag="cab" :sync="true" :value="filter.includes('cab')"/> </div>
            <div v-if="supertype == 'rolling_stock'">Wheel <toggle-button @change="toggleVisible" tag="wheel" :sync="true" :value="filter.includes('wheel')"/> </div>
            <div v-if="supertype == 'rolling_stock'">Bogeys <toggle-button @change="toggleVisible" tag="bogey" :sync="true" :value="filter.includes('bogey')"/> </div>
            <div v-if="type == 'steam'">Boiler <toggle-button @change="toggleVisible" tag="boiler" :sync="true" :value="filter.includes('boiler')"/></div>
            <div v-if="type == 'steam'">Steam Chest <toggle-button @change="toggleVisible" tag="chest" :sync="true" :value="filter.includes('chest')"/></div>
            <div v-if="type == 'steam'">Valves <toggle-button @change="toggleVisible" tag="valves" :sync="true" :value="filter.includes('valves')"/></div>
            <div v-if="type == 'diesel'">Engine <toggle-button @change="toggleVisible" tag="engine" :sync="true" :value="filter.includes('engine')"/></div>
            <div v-if="supertype == 'rolling_stock'">Track <toggle-button @change="trackHidden = !trackHidden" tag="frame" :sync="true" :value="!trackHidden"/></div>
        </div>
    </div>
    <div v-else>
        Sorry, there is no screenshot for mobile viewers.
    </div>
</template>

<script>
import vglObjLoader from "./vgl-obj-loader";
import vglTrackLoader from "./vgl-track-loader";
import vglOrbitControls from "./vgl-orbit-controls";
import vglSkybox from "./vgl-skybox";
import { Vector3 } from 'three';



export default {
    props: ["modelName", "type", "baseUrl",'gauge' ],
    components: {
        vglObjLoader: vglObjLoader,
        vglTrackLoader: vglTrackLoader,
        vglOrbitControls: vglOrbitControls,
        vglSkybox: vglSkybox    
    },
    computed: {
        base(){
            if(this.baseUrl) return this.baseUrl; // Override
            let folder = this.type;
            if(this.type == "steam" || this.type == "diesel" || this.type == "handcart") return "/IRWiki/models/" + this.supertype + "/locomotives/"  + this.modelName + "/";
            if(this.supertype == "rolling_stock") return "/IRWiki/models/" + this.supertype + "/" + this.type + "/"  + this.modelName + "/";
            if(this.type == "multiblock") return "/IRWiki/models/" + this.supertype + "/";
            return "/IRWiki/models/" + this.supertype + "/" + folder + "/";
        },
        supertype(){
            const rollingstock = ["steam","diesel",'freight','tank','caboose','passenger','tender'];
            if(rollingstock.includes(this.type)) return "rolling_stock";
            if(this.type == "multiblock") return "multiblocks";
            return this.type;
        },
        vglFilter() {
            return this.filter.join('|');
        }
    },
    data(){
        let trackScale = "";
        const STANDARD = 1.435;// From trackapi. In meters. The track model is already the right size.
        const MINECRAFT = 0.632; 
        const gaugeScale = this.gauge/STANDARD;
        if(this.gauge > 0) {
            trackScale = new Vector3(1,1,gaugeScale);
        }
        else trackScale = new Vector3(1,1,1); // In standard already. 

        return {
            groundSize: 100,
            groundRotX: 0,
            rotation: 0,
            loading: true,
            filter: [],
            isMobile: false,
            trackHidden: false,
            trackScale: trackScale
        };
    },
    beforeMount: function(){
        // navigator is client-only and therefore must be placed in a lifecycle hook outside SSR.
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            this.isMobile = true;
        } else {
            this.isMobile = false;
        }
    },
    methods: {
        toggleVisible(e) {
            const name = e.tag;
            const newVal = e.value;
            e = e.srcEvent;

            // Clicks on all always turn on all
            if(name == "all") {
                this.filter = [];
                return;
            }

            // If there is no filter, set filter to what was just clicked.
            if(newVal) {
                this.filter.push(name);
                return;
            } else {
                const index = this.filter.indexOf(name);
                if (index > -1) {
                    this.filter.splice(index, 1);
                }
            }
        }
    }
}
</script>

<style scoped>
.loading{
    position: relative;
    z-index: 1;
    margin: auto;
}

.modelviewer {
    min-height: 300px;
    width: 100%;
}

.render {
    height: 100%;
    width: 100%;
    min-height: 300px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.filterwrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  font-size: 14px;
  text-align: right;
}

</style>