<template>
    <div class="wheelconfigbase">
        Wheel Configuration: <slot>N/A</slot>
        <div class="tooltip">
            <sup>?</sup>
            <div class="tooltiptext">
                <div v-if="ctype == 'whyte'">
                    This is in <a href="https://en.wikipedia.org/wiki/Whyte_notation">Whyte Notation</a>.<br>
                    Leading-Driving-Trailing
                </div>
                <div v-else-if="ctype == 'aar'">
                    This is in <a href="https://en.wikipedia.org/wiki/AAR_wheel_arrangement">AAR Notation</a>.
                </div>
                <div v-else-if="ctype == 'uic'">
                    This is in <a href="https://en.wikipedia.org/wiki/UIC_classification_of_locomotive_axle_arrangements">UIC Notation</a>.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['type'], // whyte (steam), aar (american diesel/electric), uic (EU locos, UK diesel/electric)
    computed: {
        ctype(){
            // Auto detect here.
            const slot = this.$slots.default[0].text;
            if(!!this.type && this.type != "auto") {
                return this.type;    
            }
            if(slot.match(/^\d-\d-\d.*/)) {
                // characteristics: only numbers and dashes and then possibly a letter or two
                return 'whyte';
            }
            if(slot.match(/[E`hnvurbtGPSo]/)) {
                // if it has an E or a prime or a suffix, it is definitely UIC
                return 'uic';
            }
            if(slot.match(/[+-]/)) {
                // if it has a dash or plus, it is definitely American
                return 'aar';
            }
            return '';
        }
    }
}
</script>

<style scoped>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    font-size: 0.75em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext:hover .tooltiptext {
    visibility: visible;
}

</style>
